<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About us</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, explicabo
    eos accusamus expedita officiis consequatur debitis facilis voluptate
    aliquid voluptatum corporis quis a dolorum, soluta facere maiores sed optio
    animi dignissimos. Praesentium, sapiente! Magni, illo! Optio dignissimos
    consectetur corporis id deleniti animi at illo dolorum saepe similique
    consequatur est, possimus placeat amet quod excepturi! Ipsam, veniam fugiat
    laudantium inventore quam incidunt cumque ipsa doloremque nam, unde, dolorum
    voluptatem. Mollitia molestias molestiae provident est ex dicta odio ab
    explicabo aperiam animi quia nihil odit quos eum quidem asperiores quasi
    officia modi ipsa facilis, consequuntur ea eveniet obcaecati harum. At,
    vitae fugit.
  </p>
</section>
